<a href="/articles"><i class="material-icons medium black-text">arrow_back</i></a>
<div class="container">
    <div class="row">
        {{#each saved}}
        <div class="col s12 m6">
            <div class="card z-depth-1">
                <div class="card-image">
                    <a href={{link}} target="_blank">
                        <img src={{image}}>
                    </a>
                    <a class="btn-floating halfway-fab waves-effect waves-light amber"><i class="material-icons z-depth-3">delete</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title black-text">{{title}}</span>
                    <p>{{summary}}</p>
                    <br>
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons left">add</i></span>
                </div>
                <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
                        <form action="/articles/{{_id}}" method="POST">
                            <div class="input-field col s12">
                                <input placeholder="Name" id="author_name" type="text" name="author">
                            </div>
                            <div class="input-field col s12">
                                <textarea  placeholder="Comment" id="content-data" class="materialize-textarea" name="content"></textarea>
                            </div>
                            <button class="btn cyan" type="submit">send</button>

                    {{#if comments}}
                    <br>
                    <br>
                    <a href='/comments/{{_id}}' class="grey-text text-darken-4 card-title">View Comments<i class="material-icons left">message</i></a>
                    {{/if}}
                        </form>
                    </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>